.container {
  margin-top: 25px;
}

#btn-user {
  margin-top: 5px;
  margin-bottom: 30px;
}

.add-fuel {
  margin-bottom: 30px;
}

.btn-success {
  margin-top: 5px;
  float: right;
}

.list-fuel {
  margin-bottom: 50px;
}

.btn-add-fuel {
  margin-right: 10px;
}
